@page
@using HRMapp2.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model HRMapp2.Web.Pages.Departments.ViewModal
@inject IHtmlLocalizer<HRMapp2Resource> L

@{
    Layout = null;
}

<form method="post"  asp-page="/Departments/ViewModal">
    <abp-modal>
        <abp-modal-header  title="@L["Department Information"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-tabs name="view-department-modal-tabs">
                <abp-tab title="@L["Department Information"].Value" class="mt-3">
                    @*<div id="department-information-wrapper" class="mt-3">*@
                      
                       <div class="card-body pt-0">
                                   <table class="table table-bordered">
                                     <tr>
                                       <th width="30%">@L["Department Name"]</th>
                                         <td>@Model.DepartmentViewModel.DepartmentName</td>
                                     </tr>
                                     <tr>
                                       <th width="30%">@L["Department Manager"]</th>
                                         <td>@Model.DepartmentViewModel.DepartmentManager</td>
                                     </tr>
                                     <tr>
                                       <th width="30%">@L["Manager Start Date"]</th>
                                         <td>@Model.DepartmentViewModel.ManagerStartDate</td>
                                     </tr>
                                       <tr>
                                           <th width="30%">@L["Department Location"]</th>
                                           <td>@Model.DepartmentViewModel.DepartmentLocation</td>
                                       </tr>
                                   </table>
                                 </div>
                                                       
                        
                        @*<h3>Department Name: @Model.DepartmentViewModel.DepartmentName</h3>
                        <h3>Department Manager: @Model.DepartmentViewModel.DepartmentManager</h3>
                        <h3>Department ManagerStartDate: @Model.DepartmentViewModel.ManagerStartDate</h3>
                        <h3>Department DepartmentLocation: @Model.DepartmentViewModel.DepartmentLocation</h3>*@
                        @*@foreach(employee in @Model.)*@

                    @*</div>*@
                </abp-tab>
            </abp-tabs>
        </abp-modal-body>
        @*<abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>*@
    </abp-modal>
</form>