@page
@using HRMapp2.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model HRMapp2.Web.Pages.Departments.ViewModal


@{
    Layout = null;
}

<form method="post"  asp-page="/Departments/ViewModal">
    <abp-modal>
        <abp-modal-header title="Employee Information"></abp-modal-header>
        <abp-modal-body>
            <abp-tabs name="view-department-modal-tabs">
                <abp-tab titlae="Department Information" class="mt-3">
                    <div id="department-information-wrapper" class="mt-3">
                        
                        <h3>Department Name: @Model.DepartmentViewModel.DepartmentName</h3>
                        <h3>Department Name: @Model.DepartmentViewModel.DepartmentManager</h3>
                        <h3>Department Name: @Model.DepartmentViewModel.ManagerStartDate</h3>
                        <h3>Department Name: @Model.DepartmentViewModel.DepartmentLocation</h3>
                        @*@foreach(employee in @Model.)*@

                    </div>
                </abp-tab>
            </abp-tabs>
        </abp-modal-body>
        @*<abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>*@
    </abp-modal>
</form>